body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#clock {
    font-size: 48px;
    margin-bottom: 20px;
}
#timer {
    font-size: 24px;
    margin-bottom: 20px;
}
#calendar {
    margin-right: 5%;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 3%;
    border: solid;
    border-radius: 3%;
    color: blueviolet;
    background-color: #090943;
}
#login-form {
    padding: 4%;
    padding-bottom: 11%;
    color: blueviolet;
    background-color: #090943;
    max-width: 300px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border-radius: 3%;
    border: solid;
}
#login-form input {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}
#timed-in-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Separate margin for the button */
}
#timed-out-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff3333; /* Red color for the "Timed Out" button */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
